{% extends 'base.html.twig' %}

{% block title %}Gestion de votre mdp{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <div class="row">
            <div class="col-md-9">
                <h1>Modifier son mot de passe</h1>

                Bienvenue dans votre compte.<br> C'est ici que vous allez pouvoir modifier votre mot de passe.<br>
            </div>
         <div class="col-md-3">
             <button><a href="{{ path('account') }}">mon compte</a><br></button>
         </div>

        </div>

        <hr>
        {%  if notification %}
            <div class="alert alert-info">{{ notification }}</div>
            {{form(form)  }}
            {% else %}
             {{ form(form) }}
        {% endif %}
        <hr>

    </div>
{% endblock %}
