{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>



    <div class="row align-items-center">
        <div class="col">
            <img src="assets/images/header.svg" alt="logo de l'entreprise ABAT" class="logo"/>
        </div>
        <div class="col text-center">
            <h1 class="text-danger titre-ppal">ABAT anti criminalité</h1>
            <h3>Votre agence d'espionnage</h3>
            <button><a href="{{ path('missions') }}">Voir les missions</a></button>
        </div>
    </div>
{% endblock %}

