{% extends 'base.html.twig' %}

{% block title %}S'inscrire à l'agence Abat anti criminalité{% endblock %}

{% block body %}


    <div class="container-ppal">
    <h1>S'inscrire sur ABAT</h1>
    <div class="form">
        <div class="container-card">
            {{ form(form) }}
        </div>

    </div>


    </div>{% endblock %}
